<div class="sucess o_v" #success>
  <div class="wrapper">
    <div class="title ta_c">
    <span>
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-chenggong1"></use>
      </svg>
      提交成功
    </span>
    </div>
  </div>
  <div class="con-wrapper">
    <p class="text ta_c">我们已经收到您的需求，正在火速的安排咨询师为您服务，请您保持手机通畅！</p>
  </div>
  <div class="phone o_v chuizhi">
    <span class="fl">客服电话</span>
    <span class="fl">020-34809099</span>
  </div>
  <div class="promit ta_c">如有任何疑问，请联系客服</div>
  <div class="ta_c">
    <span class="colse d_ib" (click)="close()">关闭</span>
  </div>

</div>
